In [40]:
#%pip install openai

In [41]:
import pandas as pd
import numpy as np
from openai import OpenAI

In [42]:
client = OpenAI(api_key='batata', base_url="http://127.0.0.1:1234/v1")

In [43]:
df = pd.read_csv('../data/mpst_full_data.csv')
df.head()

,imdb_id,title,plot_synopsis,tags,split,synopsis_source
0,tt0057603,I tre volti della paura,Note: this synopsis is for the orginal Italian...,"cult, horror, gothic, murder, atmospheric",train,imdb
1,tt1733125,Dungeons & Dragons: The Book of Vile Darkness,"Two thousand years ago, Nhagruul the Foul, a s...",violence,train,imdb
2,tt0033045,The Shop Around the Corner,"Matuschek's, a gift store in Budapest, is the ...",romantic,test,imdb
3,tt0113862,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...","inspiring, romantic, stupid, feel-good",train,imdb
4,tt0086250,Scarface,"In May 1980, a Cuban man named Tony Montana (A...","cruelty, murder, dramatic, cult, violence, atm...",val,imdb

In [44]:
len(df)

14828

In [45]:
# pick 1000 random samples, set seed first
df = df.sample(1000, random_state=6661)
df = df.reset_index(drop=True)
df.head()

,imdb_id,title,plot_synopsis,tags,split,synopsis_source
0,tt0366444,Fighting Tommy Riley,Tommy Riley (J. P. Davis) stands in boxing gea...,romantic,val,wikipedia
1,tt0432291,The Fog,As the Californian coastal town of Antonio Bay...,"revenge, murder, storytelling, flashback",train,wikipedia
2,tt1087472,Safehouse,A beautiful business partner. A peaceful marin...,revenge,train,imdb
3,tt0181262,Thundarr the Barbarian,Thundarr the Barbarian is set in a future (c. ...,"good versus evil, psychedelic",train,wikipedia
4,tt4009278,Shut In,"Steven (Charlie Heaton), is a troubled kid who...",revenge,train,wikipedia

In [49]:
# generate embedding for test
'''test_text = "batata"
ret = client.embeddings.create(model="nomic-embed-text-v1.5.f16", input=["batata"])
len(ret.data[0].embedding)'''
# 768

'test_text = "batata"\nret = client.embeddings.create(model="nomic-embed-text-v1.5.f16", input=["batata"])\nlen(ret.data[0].embedding)'

In [47]:
def embed_text(text):
    return client.embeddings.create(model="nomic-embed-text-v1.5.f16", input=[text]).data[0].embedding

In [48]:
df['plot_embedding'] = df['plot_synopsis'].apply(embed_text)

In [50]:
df.head()

,imdb_id,title,plot_synopsis,tags,split,synopsis_source,plot_embedding
0,tt0366444,Fighting Tommy Riley,Tommy Riley (J. P. Davis) stands in boxing gea...,romantic,val,wikipedia,"[-0.0358068123459816, -0.0028074306901544333, ..."
1,tt0432291,The Fog,As the Californian coastal town of Antonio Bay...,"revenge, murder, storytelling, flashback",train,wikipedia,"[0.007099490612745285, 0.007497160229831934, -..."
2,tt1087472,Safehouse,A beautiful business partner. A peaceful marin...,revenge,train,imdb,"[-0.003003120655193925, 0.0120626799762249, -0..."
3,tt0181262,Thundarr the Barbarian,Thundarr the Barbarian is set in a future (c. ...,"good versus evil, psychedelic",train,wikipedia,"[-0.030307963490486145, 0.05825262516736984, -..."
4,tt4009278,Shut In,"Steven (Charlie Heaton), is a troubled kid who...",revenge,train,wikipedia,"[0.041896771639585495, 0.014580665156245232, -..."

In [51]:
df.to_csv('mpst_embedded.csv', index=False)